@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&display=swap');
.App {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  background:#ccccff;
  background-size: 400%;
}
.studentRow {
  color: blue;
  display: flex;
}

.studentData {
  width: 200px;
}


h1{
  color:#ccffff;
}

.data{
  width:200px;
  padding-bottom: 20px;
}

row{
  color:cyan;
  display:flex;
  justify-content: center;
  border-style:double;
}
